bidict==0.22.0
click==8.1.3
dnspython==1.16.0
eventlet==0.30.2
Flask==2.1.2
Flask-Cors==3.0.10
Flask-SocketIO==5.2.0
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
python-engineio==4.3.2
python-socketio==5.6.0
railway==0.0.4
six==1.16.0
Werkzeug==2.1.2
zipp==3.8.0
